.theme-dark, .theme-light, .theme-personal {
    --color-primary: #7acc35;
    --color-primary-hover: #87d149;
    --color-primary-active: #6db72f;
    --color-primary-bg: rgba(122,204,53,0.1);
    --color-link: #0096ff;
    --color-link-hover: #29a6ff;
    --color-link-active: #007dd6;
    --color-error: #ff3200;
    --color-error-hover: #ff5229;
    --color-error-active: #d62900;
    --color-warn: #ff8200;
    --color-warn-hover: #ff9629;
    --color-warn-active: #d66d00;
    --color-success: #00d287;
    --color-success-hover: #29d99a;
    --color-success-active: #00b071;
    --color-primary-default: #7acc35;
    --color-primary-default-hover: #87d149;
    --color-primary-default-active: #6db72f;
    --color-pink: #f65299;
    --color-purple: #853efd;
    --slider-handle-active: rgba(181,244,128,0.5);
    --theme-light-text-color: #333436;
    --color-error-pure: #ff3200;
    --color-line: rgba(0,0,0,0.04);
    --color-controls: rgba(0,0,0,0.08);
    --text-color: #2e303a;
    --text-description-color: rgba(46,48,58,0.64);
    --text-tip-color: rgba(46,48,58,0.4);
    --color-deep-bg: #ebedf5;
    --color-grey-bg: #f5f6fa;
    --color-light-bg: #fefefe;
    --box-shadow: 0 2px 8px 0 rgba(0,0,0,0.08);
    --box-shadow-lg: 0px 4px 32px 0px rgba(0,0,0,0.08);
    --border-color: rgba(0,0,0,0.08);
    --border-hover-color: #7acc35;
    --border-active-color: rgba(100,220,0,0.2);
    --border-color-light: #f2f3f5;
    --menu-hover: rgba(0,0,0,0.04);
    --menu-active: rgba(0,0,0,0.08);
    --color-guild-boost: #8b72e6;
    --color-e5e: #e5e5ea;
    --color-bbb: #bbbec4;
    --color-ede: #edeef0;
    --color-f7f: #f7f7f8;
    --win-title-bar: #4b5460;
    --win-background: #6d7888;
    --background-primary: #fff;
    --left-nav-background: #edeef0;
    --menu-background: #fefefe;
    --audio-menu-background: #fefefe;
    --menu-head: #f2f3f5;
    --menu-hover-bg-primary: #ebecf0;
    --menu-active-bg-primary: #e1e2e6;
    --menu-hover-bg-left-nav: #e2e3e6;
    --box-shadow-filter: drop-shadow(0 2px 6px #caced5);
    --light-background: rgba(102,102,204,0.08);
    --main-color: #333436;
    --secondary-color: #66686b;
    --button-radius: 6px;
    --mention-message-bg: #f9f4ec;
    --scroll-bar-color: #bbbec4;
    --deep-hover: rgba(102,104,107,0.12);
    --button-default: #e1e4f0;
    --button-default-hover: #e4e6f1;
    --button-default-active: #caccd7;
    --button-simple: transparent;
    --button-simple-hover: #e4e6f1;
    --button-simple-active: #caccd7;
    --light-them-card-content: #fff;
    --light-them-card-padding: #edeef2;
    --light-them-card-border: #e1e4f0;
    --dark-them-card-content: #999ca3;
    --dark-them-card-padding: #838591;
    --dark-them-card-border: #6c6e76;
    --color-bottom-bg: #ebedf5;
    --color-middle-bg: hsla(0,0%,100%,0.5);
    --color-top-bg: #fefefe;
}
